body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /*outline: solid green;*/
    background-color: black; /*change to black*/
}

#room_index {
    width: 100vw;
    height: 100vh;
    outline: solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    position: relative;
    width: 500px;
    height: 500px;
    background: url('index_img/room.PNG') no-repeat;
    background-size: cover;
}

/*Table*/
#table {
    position: absolute;
    top: 170px;
    left: 80px;
    z-index: 1;
    cursor: auto;
}

#transparent_table {
    top: 170px;
    left: 80px;
    position: absolute;
    outline: rgb(128, 0, 255) solid 5px;
    clip-path: polygon(100% 0, 100% 16%, 100% 35%, 100% 91%, 62% 91%, 63% 46%, 55% 39%, 6% 39%, 0% 35%, 0 0);
    z-index: 2;
    opacity: 0%;
}

.room #transparent_table:hover ~ #table {
    filter: brightness(60%);
    
}

.objects:hover {
    filter: brightness(60%);
}

/*Shelf*/
#shelf {
    position: absolute;
    top: 82px;
    left: 10px;
}

/*Bed*/
#bed {
    position: absolute;
    right: 90px;
    top: 160px;
}

#bed_made {
    display: none;
    position: absolute;
    right: 84px;
    top: 160px;
}

/*Bedside table*/
#bedside_table {
    position: absolute;
    height: 61px;
    right: 210px;
    top: 160px;
}
#bedside_table2 {
    position: absolute;
    height: 61px;
    top: 160px; 
    right: 38px;
}

/*Closet*/
#closet_side {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

/*Laptop*/
#laptop {
    position: absolute;
    left: 95px;
    top: 165px;
    z-index: 3;
    height: 28px;
}


#laptop_on {
    display: none;
    position: absolute;
    left: 95px;
    top: 165px;
    z-index: 3;
    height: 28px;
}

#laptop_on_dark {
    display: none;
    position: absolute;
    left: 95px;
    top: 165px;
    z-index: 11;
    height: 28px;
}


#laptop_light {
    display: none;
    position: absolute;
    height: 13px;
    width: 21px;
    box-shadow: 0 0 10px rgb(255, 87, 171);
    opacity: 100%;
    top: 167.5px;
    left: 102px;
    z-index: 11;
}


/*Mouse*/
#mouse {
    position: absolute;
    height: 9px;
    left: 132.5px;
    top: 184px;
    z-index: 3;
}

/*Light*/
#dark_mode {
    display: block;
    position: absolute;
    background-color: black;
    z-index: 10;
    height: 500px;
    width: 500px;
    opacity: 60%; /*change to 100*/
    pointer-events: none;
}

#switch_on {
    display: none;
    right: 18px;
    top: 110px;
}

#switch_off {
    display: block;
    right: 18px;
    top: 110px;

}

.switches {
    position: absolute;
    height: 16px;
}

/*Curtain*/
#curtain_closed {
    display: block;
    position: absolute;
    left: 80px;
    top: 55px;
}

.window {
    position: absolute;
    left: 80px;
    top: 55px;
    display: none;
}

/*Fan*/
#fan {
    
    position: absolute;
    left: 210px;
}

#fan_spin {
    display: none;
    position: absolute;
    left: 212.14px;
}

#fan_switch_off {
    right: 35px;
    top: 110px;
}

#fan_switch_on {
    right: 35px;
    top: 110px;
}

#calender {
    position: absolute;
    height: 20px;
    top: 130px;
    left: 260px;
}

/*Laptop Screen*/
#laptop_screen {
    background-image: url('index_img/laptop_outline\ \(1\).png');
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    position: absolute;
    opacity: 100%;
    z-index: 20;
    height: 700px;
    width: 985px;}

.pages {
    position: absolute;
    top: 35px;
    left: 22px;
    width: 942px;
    height: 584px;
    
}

/*Movie App*/

.app_font {
    position: absolute;
    font-family: 'Pixelify Sans';
    font-weight: 700;
    color: rgb(252, 220, 220);
    top: 135px;
    left: 50px;
}

#movie_icon {
    position: absolute;
    left: 50px;
    top: 50px;
}

#inside {
    background-color: rgb(15, 15, 15);
    display: none;
    flex-direction: column;
    overflow: hidden;
}


#main_content {
    display: flex;


}

/*Top bar*/
#top_bar {
    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: black;
}

#top_bar p {
    color: rgb(200, 200, 200);
    font-family: monospace;
}

#small_icon {
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

#top_bar #left {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

#path {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-left: 5px
}

#top_bar #left #path p:not(:last-child)::after {
    content: "-";
    margin-left: 5px;
    margin-right: 5px;
}

#top_bar #right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    gap: 20px;
    align-items: center;
}

/*App functions*/
#minimize {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: yellow;
}

#close {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}

/*Sidebar*/
#sidebar_closed {
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    height: 549px;
    width: 50px;
    transition: width 0.3s ease;
    cursor: pointer;
}

#sidebar_closed.open {
    width: 250px;
    cursor: pointer;
    
}

.sidebar_dim.dimmed {
    background-color: black;
    opacity: 0.5;
}

/*Sidebar buttons*/

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
   
}

#movies {
     
    background-color: rgb(239, 136, 173);
}

#shows {

    background-color: rgb(165, 56, 96);
}

#anime {

    background-color: rgb(103, 13, 47);
}

#expand {
    font-size: 50px;
    font-weight: bolder;
    font-family: monospace;
    color: white;
    padding: 0;
    margin: 0;
}

/*Search bar*/
.search_container {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    height: 30px;
    
    width: 0px;
    margin-bottom: 20px;
    margin-top: 15px;
    transition: width 0.3s ease;
}

.search_container.open {
    width: 200px;
    
}

.search_icon {
    position: absolute;
    opacity: 1;
    right: 0px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    z-index: 2;
    
    transition: transform 0.3s ease;
    
}

.movie_container .search_icon{
    background-color: rgb(239, 136, 173);
}

.shows_container .search_icon{
    background-color: rgb(165, 56, 96);
}

.anime_container .search_icon{
    background-color: rgb(103, 13, 47);
}



.search_icon.slide {
    transform: translateX(-175px);
}

.search_bar {
    padding-left: 0px;
    border-radius: 10px;
    margin-right: 7px;
    height: 24px;
    width: 100%;
    background-color: black;
    border: none;
    color: white;
    overflow: hidden; 
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}

.movie_container .search_bar:focus {
    outline: 2px solid rgb(239, 136, 173);
}

.shows_container .search_bar:focus {
    outline: 2px solid  rgb(165, 56, 96);
}

.anime_container .search_bar:focus {
    outline: 2px solid rgb(103, 13, 47);
}

.search_bar.move {
    opacity: 1;
    padding-left: 30px;
    pointer-events: auto;
}

/*Movie container*/

.film_containers {
    display: flex;
    flex-direction: column;
    height: 497px;
    width: 885px;
    overflow-y: auto;
    margin-top: 40px;
    padding-top: 10px;
    margin-left: 55px;

}


.grids {
    /*outline: red solid 5px;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    row-gap: 0px;
    margin-left: 10px;
    margin-right: 20px;
    gap: 25px;

}
.grids img {
    height: 210px;
    width: 150px;
    box-shadow: -5px 0 0 0 black;
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    border-radius: 20px;
    transition: transform 0.3s ease;

    /*outline: purple solid 5px;*/
}
.grids img:hover {
    transform: scale(1.1)
}

.grids p {
    font-family: 'Jersey 25';
    font-weight: 500;
    color: rgb(255, 255, 255);
    opacity: 100%;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: bolder;
}


/*Scrollbar grid*/
.film_containers::-webkit-scrollbar {
    width: 12px;

}
.film_containers::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 6px;
}

.film_containers::-webkit-scrollbar-track {
    background: black;
    border-radius: 6px;
}

/*Individual movie select*/
.indivs img{
    height: 330px;
    width: 240px;
    border-radius: 20px;
    /*outline: green solid 5px;*/
    margin-top: 50px;
}

.indivs {
    position: absolute;
    top: 70px;
    left: 100px;
    /*outline: orange solid 5px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    height: 525px;
    width: 850px;
    

}

/*Text container*/
.text-container {
    display: flex;
    flex-direction: column;
    /*outline: blue solid 6px;*/
    width: fit-content;
    height: 100%;
    padding-left: 20px;
}

.text-container #title {
    margin-top: 58px;
    /*outline: red solid 5px;*/
    color: white;
    font-size: 37px;
    font-family: 'Jersey 25';
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
}

/*Small text, between descrip and title*/
.small_text {
    /*outline: white solid 5px;*/
    flex-direction: row;
    display: flex;
    
}

.small_text p:not(:last-child)::after {
    content: "•";
    margin-left: 10px;
    margin-right: 10px;
}

.small_text p {
    font-family: 'Jersey 25';
    color: white;
}

/*Description Movie*/
.text-container #description {
    color: white;
    font-family: 'Jersey 25';
    font-size: 25px;
    height: 220px;
    width: 530px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    /*outline: yellow solid;*/
}

#description::-webkit-scrollbar {
    display: none;
}








